@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p,
ul {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

form {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  position: sticky;
  top: -1px;
  z-index: 1000;
  /* Fica acima dos outros elementos */
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1.3em;
  background: #003172;
  color: white;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.menu {
  display: none;
  flex-direction: column;
  gap: 1rem;
  background: #001025;
  position: absolute;
  top: 60px;
  right: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu.show {
  display: flex;
}

#hero-section {
  background-color: #001f47;
  background-image: url(../site/imagens/bg-hero-sec.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  padding: 15px;
  color: #fff9d7;
}

#hero-section>a {
  color: #002c66;
  background-color: #fff9d7;
  padding: 12px 15px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  text-align: center;
}

#img-logo {
  width: 50px;
  border-radius: 100px;
}

#hero-section>h1 {
  color: white;
  font-size: 1.8em;
  margin-right: 1.3em;
}

#hero-section>p {
  margin-right: 1.9em;
  color: white;
  margin-top: 1em;
  font-size: 1em;
}

/*
Main
*/

#servicos {
  margin: 0 12px;
  scroll-margin-top: 90px;
}

#servicos a {
  transition: all 0.2s ease;
}

#tit-servicos {
  text-align: center;
  margin-bottom: 1em;
  color: #001f47;
}

#box-serv-1 {
  border: solid #001f47 2px;
  border-radius: 10px;
  margin: 0 10px 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "img titulo"
    "img paragrafo"
    "botao botao";
  gap: 10px;
  padding: 16px;
}

#box-serv-1>img {
  grid-area: img;
  width: 100%;
  height: auto;
  align-self: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

#box-serv-1>h3 {
  grid-area: titulo;
  align-self: center;
  color: #001f47;
}

#box-serv-1>p {
  grid-area: paragrafo;
  font-size: 0.7em;
  align-self: center;
  color: #001f47;
}

#box-serv-1>a {
  grid-area: botao;
  width: 100%;
  text-align: center;
  background-color: #e9e9e9;
  color: #001f47;
  text-decoration: none;
  padding: 0.2em 0.1em;
  border-radius: 5px;
}

#box-serv-2 {
  border: solid #001f47 2px;
  border-radius: 10px;
  margin: 0 10px 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "titulo img"
    "paragrafo img"
    "botao botao";
  gap: 10px;
  padding: 16px;
}

#box-serv-2>img {
  grid-area: img;
  width: 100%;
  height: auto;
  align-self: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

#box-serv-2>h3 {
  grid-area: titulo;
  align-self: center;
  color: #001f47;
}

#box-serv-2>p {
  grid-area: paragrafo;
  font-size: 0.7em;
  align-self: center;
  color: #001f47;
}

#box-serv-2>a {
  grid-area: botao;
  width: 100%;
  text-align: center;
  background-color: #e9e9e9;
  color: #001f47;
  text-decoration: none;
  padding: 0.2em 0.1em;
  border-radius: 5px;
}

#box-serv-3 {
  border: solid #001f47 2px;
  border-radius: 10px;
  margin: 0 10px 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "img titulo"
    "img paragrafo"
    "botao botao";
  gap: 10px;
  padding: 16px;
}

#box-serv-3>img {
  grid-area: img;
  width: 100%;
  height: auto;
  align-self: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

#box-serv-3>h3 {
  grid-area: titulo;
  align-self: center;
  color: #001f47;
}

#box-serv-3>p {
  grid-area: paragrafo;
  font-size: 0.7em;
  align-self: center;
  color: #001f47;
}

#box-serv-3>a {
  grid-area: botao;
  width: 100%;
  text-align: center;
  background-color: #e9e9e9;
  color: #001f47;
  text-decoration: none;
  padding: 0.2em 0.1em;
  border-radius: 5px;
}

#box-serv-4 {
  border: solid #001f47 2px;
  border-radius: 10px;
  margin: 0 10px 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "titulo img"
    "paragrafo img"
    "botao botao";
  gap: 10px;
  padding: 16px;
}

#box-serv-4>img {
  grid-area: img;
  width: 100%;
  height: auto;
  align-self: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

#box-serv-4>h3 {
  grid-area: titulo;
  align-self: center;
  color: #001f47;
}

#box-serv-4>p {
  grid-area: paragrafo;
  font-size: 0.7em;
  align-self: center;
  color: #001f47;
}

#box-serv-4>a {
  grid-area: botao;
  width: 100%;
  text-align: center;
  background-color: #e9e9e9;
  color: #001f47;
  text-decoration: none;
  padding: 0.2em 0.1em;
  border-radius: 5px;
}

#box-serv-5 {
  border: solid #001f47 2px;
  border-radius: 10px;
  margin: 0 10px 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "img titulo"
    "img paragrafo"
    "botao botao";
  gap: 10px;
  padding: 16px;
}

#box-serv-5>img {
  grid-area: img;
  width: 100%;
  height: auto;
  align-self: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

#box-serv-5>h3 {
  grid-area: titulo;
  align-self: center;
  color: #001f47;
}

#box-serv-5>p {
  grid-area: paragrafo;
  font-size: 0.7em;
  align-self: center;
  color: #001f47;
}

#box-serv-5>a {
  grid-area: botao;
  width: 100%;
  text-align: center;
  background-color: #e9e9e9;
  color: #001f47;
  text-decoration: none;
  padding: 0.2em 0.1em;
  border-radius: 5px;
}

#servicos a:hover {
  background-color: #001f47;
  color: #fff9d7;
}

#sobre-nos {
  background-color: #001f47;
  border-radius: 20px 20px 0 0;
  text-align: center;
  scroll-margin-top: 75px;
}

#sobre-nos h2 {
  color: #fff9d7;
  text-align: center;
  padding: 20px 0;
}

#sobre-nos .p-sobre-nos {
  color: white;
  margin: 0 20px 30px 20px;
  font-size: 0.95em;
  text-align: justify;
}

.container-box-mais-sobre {
  display: grid;
  grid-template: 1fr 1fr;
  grid-template-areas:
    "box1 box2"
    "box3 box4";
  gap: 20px;
  margin: 0 10px;
}

.boxs-mais-sobre {
  background-color: white;
  color: #001025;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
}

.boxs-mais-sobre img {
  width: 40px;
}

#box-mais-sobre1 {
  grid-area: box1;
}

#box-mais-sobre2 {
  grid-area: box2;

}

#box-mais-sobre3 {
  grid-area: box3;
}

#box-mais-sobre4 {
  grid-area: box4;
}


.cta-btn-quero-este-serv {
  display: inline-block;
  background-color: white;
  color: #001025;
  margin: 30px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.2s
}

.cta-btn-quero-este-serv:hover {
  background-color: #fff9d7;
}

#provas-reais {
  margin: 20px 28px;
  text-align: center;
  scroll-margin-top: 90px;
}

#provas-reais h2 {
  color: #001f47;
}

.box-prova-real {
  max-width: 600px;
  margin: 20px auto;
  width: 100%;
  display: grid;
  grid-template-rows: 80px 80px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "img-pr titulo-pr"
    "img-pr subtitulo"
    "paragrafo paragrafo";
  justify-items: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f9f9f9;
  box-sizing: border-box;
}

/* Elementos do grid */
.img-do-cliente {
  grid-area: img-pr;
  width: 100%;
  max-width: 180px;
  height: auto;
  padding: 20px;
}

.nome-do-cliente {
  grid-area: titulo-pr;
  font-weight: bold;
  align-self: end;
}

.empresa-do-cliente {
  grid-area: subtitulo;
  align-self: start;
}

.avaliacao-do-cliente {
  grid-area: paragrafo;
  font-size: 0.8em;
  margin: 0 12px;
}


#porque-nos-escolher {
  background-color: #001f47;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 0 0 50px 0;
  width: 95%;
  margin: 0 auto;
}

#porque-nos-escolher>h2 {
  padding: 20px 0;
  max-width: 80%;
  margin: 0 auto;
}

#porque-nos-escolher ul {
  text-align: start;
  max-width: 80%;
  margin: 0 auto;
}


#portfolio {
  padding: 30px;
  text-align: center;
  scroll-margin-top: 60px;
}

#portfolio h2 {
  color: #001f47;
}

#portfolio p {
  text-align: justify;
}

#portfolio h4 {
  font-size: 1em;
  margin: 10px 0;
}

.box-portf {
  margin: 12px auto;
  padding: 12px;
  border: solid 1px;
  border-radius: 10px;
}

.box-portf img {
  max-width: 100%;
  border-radius: 10px;
}


#formulario {
  background-color: #001f47;
  color: white;
  padding: 30px 20px;
  border-radius: 10px 10px 0 0;
  max-width: 500px;
  margin: 10px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

#formulario h2 {
  color: white;
  font-size: 1.2em;
  text-align: center;
}

#formulario label {
  font-weight: bold;
  margin-bottom: 5px;
}

#formulario input,
#formulario select,
#formulario textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

#formulario input:focus,
#formulario select:focus,
#formulario textarea:focus {
  outline: 2px solid #ffc107;
}

#formulario button {
  background-color: #ffc107;
  color: #001f47;
  border: none;
  padding: 12px;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#formulario button:hover {
  background-color: #e0a800;
}

select option {
  background-color: #001f47;
  /* fundo das opções */
  color: white;
  /* cor do texto */
}


#rodape {
  background-color: #001024;
  color: white;
  padding: 1px 20px;
  text-align: center;
}

#rodape .tit-footer {
  font-size: 1.2rem;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff9d7;
}

#rodape a {
  display: block;
  color: white;
  margin: 6px 0;
  text-decoration: none;
  transition: color 0.3s;
}

#rodape a:hover {
  color: #ffd700;
}

#rodape p {
  margin-top: 30px;
  font-size: 0.7rem;
  color: #ccc;
}






/*
Fim Main
*/

/* DESKTOP - acima de 768px */
@media (min-width: 768px) {
  .menu {
    display: flex !important;
    position: static;
    flex-direction: row;
    background: none;
    padding: 0;
  }

  .menu-toggle {
    display: none;
  }

  #hero-section {
    height: 500px;
  }

  #hero-section>h1 {
    color: white;
    font-size: 3em;
    margin-right: 3em;
    margin-top: 1em;
  }

  #hero-section>p {
    margin-right: 15em;
    color: white;
    margin-top: 2em;
    font-size: 1.3em;
  }

  #servicos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 1fr 1fr 1fr;
    grid-template-areas:
      "tit-servicos tit-servicos"
      "box-serv-1 box-serv-2"
      "box-serv-3 box-serv-4"
      "box-serv-5 box-serv-5"
    ;
    align-items: center;
    justify-items: center;
  }

  #tit-servicos {
    grid-area: tit-servicos;
  }

  #box-serv-1 {
    grid-area: box-serv-1;
  }

  #box-serv-2 {
    grid-area: box-serv-2;
  }

  #box-serv-3 {
    grid-area: box-serv-3;
  }

  #box-serv-4 {
    grid-area: box-serv-4;
  }

  #box-serv-5 {
    grid-area: box-serv-5;
    max-width: 50%;
  }


  .container-box-mais-sobre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "box1 box2 box3 box4"
    ;
    gap: 20px;
    margin: 0 10px;
  }

  .boxs-mais-sobre {
    background-color: white;
    color: #001025;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
  }

  .boxs-mais-sobre img {
    width: 40px;
  }

  #box-mais-sobre1 {
    grid-area: box1;
  }

  #box-mais-sobre2 {
    grid-area: box2;

  }

  #box-mais-sobre3 {
    grid-area: box3;
  }

  #box-mais-sobre4 {
    grid-area: box4;
  }


  .boxs-provas-reais1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "pr-1 pr-2 pr-3";
    column-gap: 10px;
  }


  #tit-provas-reais {
    grid-area: tit-provas-reais;
  }

  #pr-1 {
    grid-area: pr-1;
  }

  #pr-2 {
    grid-area: pr-2;
  }

  #pr-3 {
    grid-area: pr-3;
  }

  #porque-nos-escolher {
    max-width: 50%;
  }

  #formulario {
    margin-bottom: 10px;
    border-radius: 15px;
  }

  #formulario h2 {
    font-size: 1.7em;
    margin-bottom: 10px;
  }

  #rodape {
    display: grid;
    grid-template: 1fr 1fr;
    grid-template-areas:
      "box-links box-redes-sociais"
      "p-copy p-copy"
    ;
    text-align: start;
    padding: 10px 30px;
  }

  .box-links {
    grid-area: box-links;
  }

  .box-redes-sociais {
    grid-area: box-redes-sociais;
  }

  #rodape>p {
    grid-area: p-copy;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  #hero-section>h1 {
    color: white;
    font-size: 3.6em;
    margin-right: 3em;
    margin-top: 1em;
  }

  #hero-section>p {
    margin-right: 15em;
    font-size: 1.7em;
  }

  #servicos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "tit-servicos tit-servicos tit-servicos tit-servicos tit-servicos"
      "box-serv-1 box-serv-2 box-serv-3 box-serv-4 box-serv-5";
    align-items: stretch;
    justify-items: center;
    gap: 20px;
  }

  #tit-servicos {
    grid-area: tit-servicos;
  }

  /* Aplica a todos os boxes */
  #box-serv-1,
  #box-serv-2,
  #box-serv-3,
  #box-serv-4,
  #box-serv-5 {
    grid-area: unset;
    /* deixa o grid-area definido acima funcionar */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "titulo"
      "img"
      "paragrafo"
      "botao";
    gap: 10px;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
  }

  #box-serv-5 {
    max-width: 100%;
  }

  #sobre-nos{
    max-width: 90%;
    margin: 12px auto;
    border-radius: 20px;
    padding: 20px;
  }
}